.board {
    border-radius: 10px;
    background-color: #b2b2b2;
    width: 30rem;
    height: 30rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    outline: 4px solid #b2b2b2;
    transition: .5s;
    user-select: none;
}

.board.disabled {
    pointer-events: none;
}

section.main-phrase {
    display: flex;
    justify-content: center;
    align-items: center;
}

p.phrase {
    font-size: 24px;
    text-align: center;
    padding: 10px 20px;
    transition: .7s;
    transform: translateY(250%);
    place-self: center;
    display: block;
    z-index: 2;
    user-select: none;
    
}

p.phrase.playing {
    font-size: 20px;
    transform: translateY(140%);
    padding: 10px 100px;
    border-radius: 10px;
    background-color: black;
}

p.phrase.playing.player-1 {
    background-color: #e64c65;
}


p.phrase.playing.player-2 {
    background-color: #6e44ff;
}


p.phrase.playing.draw {
    background-color: #f9f9f9;
    color: #232323;
}

p.phrase.playing.game-over {
    transform: translateY(100%);
}


.main-new-game {
    transition: .7s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.main-new-game.active {
    transform: translateY(150%);
    opacity: 1;
}


.main-new-game .new-game {
    text-align: center;
    background-color: #484848;
    padding: 20px 80px;
    border-radius: 10px;
    transition: .3s;
}


.main-new-game .new-game:hover {
    cursor: pointer;
    scale: 1.05;
    background-color: #B2B2B2;
    color: #232323;
}
