.player {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    opacity: 1;
    transition: .7s;
}

.player.disabled {
    opacity: 0;
}

img.player-icon {
    padding: 1rem;
    background-color: #b2b2b2;
    border-radius: 5px;
    height: 100px;
    transition: .5s;
}


.player.id1.active img.player-icon, 
.player.id2.active img.player-icon {
    scale: 1.3;
    margin-bottom: 2rem;
}

.player.id1.active img.player-icon{
    background-color: #e64c65;
}

.player.id2.active img.player-icon{
    background-color: #6e44ff;
}

.player-name {
    text-decoration-skip-ink: none;
    font-size: 20px;
}

.player-score {
    font-size: 28px;
    user-select: none;
    padding: 1rem;
    line-height: 1;
    border-radius: 5px;
    background-color: #484848;
    color: #f9f9f9;
    scale: 0;
}

.player-score.active {
    scale: 1;
}
