.main-cross {
    width: 100%;
    height: 100%;
    position: relative;
}

.cross {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translateX(-50%) translateY(-50%);
    background-color: #6e44ff;
    width: 20px;
    height: 110px;
    outline: 1px solid #f9f9f9;
}

.cross-1 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.cross-2 {
    transform: translate(-50%, -50%) rotate(-45deg);

}
