:root {
    --main-font: 'Kdam Thmor Pro', sans-serif;
    --second-font:'Rubik Spray Paint', cursive;

}

body {
    background-color: #232323;
    color: #f9f9f9;
    font-family: var(--main-font);
    color: #f9f9f9;
    height: 100vh;
}

section.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    gap: 10rem;
}

a.gitlink {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}

a.gitlink img {
    transition: .4s;
    object-fit: cover;
    height: 4rem;
}

a.gitlink img:hover {
    scale: 1.2;
}